@font-face {
    font-family: "biome";
    src: url("roman.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color:white;
}

*{
    font-family: 'biome', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: all .2s linear; */
    /* line-height: 1.5; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: black;
    /* padding-left: 10rem; */
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }

section {
    padding: 1rem 2%;
    min-height: 100vh;
}

header {
    position: static;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-flow: column;
    width: 10rem;
    text-align: center;
    flex-direction: row;
    width: 100%;
    letter-spacing: 0.1rem;
}

header .logo{
    text-transform: uppercase;
    color:white;
    font-size: 10rem;
   
}

.header-main {
    opacity: 1;
}

header .logo:hover {
    /* letter-spacing: .3rem; */
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

.navbar {
    /* display: contents; */
    top: 0; /* Stay on top */
    justify-content: space-between;
    transition: top 0.3s; 
    background: transparent;
}

.main-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    /* border-bottom: 1px solid #fff; */
    /* height: 140px; */
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}


header .navbar a{
/* float: left; */
font-size: 7rem;
color: white;
margin: 0;
justify-content: space-between;
flex-direction: row;
justify-content: space-between;
-webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

header .navbar a:hover{
    /* letter-spacing: .2rem; */
    color: var(--main-color);
}

#about {
  
    position: relative;
    margin: 65px 0 0 60px;
    transform: scaleY(0.93);
  }
  
  #about:hover {
   
    cursor: pointer;
    /* background-color: rgb(107, 27, 27); */
    /* border-bottom: 2px solid white; */
    transition: 0.4s;
  }
  
  #about::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(170, 46, 46);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #about:hover:before {
    visibility: visible;
    width: 100%;
  }

#projects {
    position: relative;
    margin:65px 60px 0 0;
    transform: scaleY(0.93);
  }
  
  #projects::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(170, 46, 46);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #projects:hover:before {
    visibility: visible;
    width: 100%;
  }
  
  #projects:hover {
    transition: 0.4s;
  }

#menu-bars {
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:transparent;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0; left: 0;
    height: 1rem; width: 1rem;
    background: white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-2 {
    position: absolute;
    top: 0; left: 0;
    height: 4rem; width: 4rem;
    border: 0.5rem solid white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects-main {
    color: white;
    padding-top: 150px;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
    z-index: 0;
    line-height: 1.5;
}

#biophonica {
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#chatnimal {
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#city {
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

#untold-town {
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

h2 {
    margin: 0 430px;
    margin-bottom: 80px;
}

h2:hover {
    cursor: pointer;
}

#bg-image {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0;
    background-size: 100%;
    background-position: right;
    pointer-events: none;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    background-image: url('winter-show1.jpg');
}

#bg-image1 {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0;
    background-size: 100%;
    background-position: center;
    pointer-events: none;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    background-image: url('biophinic.png');
}

#bg-image2 {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0;
    background-size: 100%;
    background-position: center;
    pointer-events: none;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    background-image: url('untold.png');
}

#bg-image3 {
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0;
    background-size: 100%;
    background-position: center;
    pointer-events: none;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    background-image: url('freq.png');
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
     body {
         padding: 0;
     }

     /* header {
        left: -100%;
        padding: auto;
     } */

     header.active {
         left: 0%;
     }

     .projects-main {
        color: white;
        padding-top: 250px;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.4rem;
        z-index: 0;
    }

    h2 {
        margin: 0;
        margin-bottom: 80px;
    }
}


@media (max-width:450px) {
    html {
        font-size: 50%;

    }

    header {
        width: 100%;
    }

    #about {
        margin: 25px 0 20px 25px;
      }
  
      #projects {
        margin: 25px 25px 0 0;
      }
  
      header .navbar a {
        font-size: 30px;
      }

      .projects-main {
        padding-top:150px;
        margin: 10px 50px 50px 50px;
        font-size: 18px;
      }
}
