@font-face {
    font-family: "biome";
    src: url("roman.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color:white;
}

*{
    font-family: 'biome', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: all .2s linear; */
    /* line-height: 1.5; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: black;
    /* padding-left: 10rem; */
    /* background: transparent; */
    -webkit-font-smoothing: antialiased;
}
section {
    padding: 1rem 2%;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* z-index: 1000; */
    flex-flow: column;
    width: 10rem;
    text-align: center;
    flex-direction: row;
    width: 100%;
}

header .logo{
    text-transform: uppercase;
    color:white;
    font-size: 10rem;
   
}

header .logo:hover {
    /* letter-spacing: .3rem; */
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

.navbar {
    /* display: contents; */

    justify-content: space-between;
}

.main-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    /* border-bottom: 1px solid #fff; */
    /* height: 140px; */
    
}


header .navbar a{
/* float: left; */
font-size: 7rem;
color: white;
margin: 0;
justify-content: space-between;
flex-direction: row;
justify-content: space-between;
}

header .navbar a:hover{
    /* letter-spacing: .2rem; */
    color: var(--main-color);
}

#about {
    font-size: 5rem;
    position: relative;
    margin: 65px 0 0 60px;
    transform: scaleY(0.93);
   visibility: hidden;
  }
  
  #about:hover {
   
    /* cursor: pointer; */
    /* background-color: rgb(107, 27, 27); */
    /* border-bottom: 2px solid white; */
    transition: 0.4s;
  }
  
  #about::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(170, 46, 46);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #about:hover:before {
    visibility: visible;
    width: 100%;
  }

#projects {
    position: relative;
    margin:65px 60px 0 0;
    transform: scaleY(0.93);
    letter-spacing: 0.1rem;
    cursor: none;
  }

  #dorian-j {
    position: relative;
    transform: scaleY(0.43);
    font-size: 7rem;
    line-height: 0.55;

    /* letter-spacing: 0.3rem; */
  }
  #dorian-j:hover {
    /* cursor: pointer; */
    /* background-color: rgb(107, 27, 27); */
    /* border-bottom: 2px solid white; */
    transition: 0.4s;
  }

  #dorian-j::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(170, 46, 46);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  #dorian-j:hover:before {
    visibility: visible;
    width: 100%;
  }

  #projects::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(170, 46, 46);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  #projects:hover {
    cursor:none;
  }
  
  #projects:hover:before {
    visibility: visible;
    width: 100%;
  }

#menu-bars {
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:transparent;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    /* cursor: pointer; */
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0; left: 0;
    height: 1rem; width: 1rem;
    background: white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}


.cursor-2 {
    position: absolute;
    top: 0; left: 0;
    height: 4rem; width: 4rem;
    border: 0.5rem solid white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.intro-text {
  color: white;
  /* padding-top: 130px; */
  font-size: 5rem;
  width: 45%;
  
  margin: 76px 0 0 60px;
  transform: scaleY(0.93);
  opacity: 10000;
  transform: scaleY(0.93);
  line-height: 0.7;

}

#description {
    width: 45%;
    font-size: 2rem;
    color: white;
}

.home-page {
    margin: auto;
    color: white;
    margin: 65px;
    padding-top: 300px;
}

.contacts {
  position: fixed;
  bottom: 0;
  margin-bottom: 1%;
  font-size: 1.5em;
  float: right;
  color: rgba(177, 177, 177, 0.6);
  padding-right: 60px;
  right:0;
}



@media (max-width:991px) {
    html {
        font-size: 55%;
    }
     body {
         padding: 0;
     }

     header.active {
         left: 0%;
     }

     .main-nav {
        font-size: 15px;
      }
     .about-page {
       margin: 65px 150px 65px 120px;
       font-size: 3px;
     }
 
      #about {
        margin: 45px 0 0 20px;
      }

      #projects {
        margin: 45px 20px 0 0;
      }

      .intro-text {
        margin: 40px 0 0 20px;
      }
}


@media (max-width:450px) {
    html {
        font-size: 50%;

    }

    #about:hover:before {
      visibility: hidden;
    }
    
      #projects:hover:before {
      visibility: hidden;
    }

    header {
        width: 100%;
    }

    #about {
        margin: 25px 0 20px 25px;
      }
  
      #projects {
        margin: 25px 25px 0 0;
      }

      header .navbar a {
        font-size: 30px;
      }

      .intro-text {
        margin: 15px 0 0 25px;
      }

      #dorian-j {
        font-size: 6rem;
      }
}
