@font-face {
    font-family: "biome";
    src: url("neue.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color:white;
}

*{
    font-family: 'biome', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s;
    line-height: 1.5;
}

.section {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: block;
}

body{
    background: black;
    /* padding-left: 30rem; */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: end;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    width: 10rem;
    text-align: center;
    flex-direction: row;
    width: 100%;
  
}

.navbar {
    display: contents;

    justify-content: space-between;
}


.main-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}



header .logo{
    color:white;
    font-size: 5rem;
    text-decoration: none;
}

header .logo:hover {
    letter-spacing: .2rem;
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a{
    /* float: left; */
    font-size: 5rem;
    color: white;
    margin: 0;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    }

header .navbar a:hover{
    /* letter-spacing: .2rem; */
    color: var(--main-color);
}

.container {
  width: 1140px;
  margin: auto;
}


#menu-bars {
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:transparent;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.about-page {
   padding: 10px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin: 50px;
}

.description {
  color: white;
  max-width: 50%;
  font-size: large;
}

.description p {
  margin-bottom: 20px;
}

.contacts {
  color: white;
  font-size: larger;

}

@media (max-width:991px) {
    html {
        /* font-size: 55%; */
    }
     body {
         padding: 0;
     }

     .container {
       width: 100%;
     }

     #menu-bars {
         display:initial;
     }

     /* header {
        left: -120%;
        padding: auto;
     } */

     header.active {
         left: 0%;
     }

     .about-page {
       grid-template-columns: repeat(1, 1fr);
     }

     .description {
       max-width: 100%;
     }
}


@media (max-width:450px) {
    html {
        /* font-size: 50%; */
    }

    header {
        width: 100%;
    }
}
