@font-face {
    font-family: "biome";
    src: url("biome.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color:white;
}

*{
    font-family: 'biome', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: black;
    padding-left: 30rem;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: end;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    width: 30rem;
    text-align: center;
    flex-direction: row;
    width: 100%;
    margin:2rem;
    font-weight: bolder;
    text-transform: capitalize;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}

a {
    color: white;
    display: block;
}

a:hover {
    letter-spacing: .2rem;
}


section {
    display: block;
}

header .logo{
    text-transform: uppercase;
    color:white;
    font-size: 3rem;
}



header .logo1{

    color:white;
    font-size: 3rem;
}




header .logo:hover {
    letter-spacing: .2rem;
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a{
float: left;
font-size: 2rem;
color: white;
margin: 0;
justify-content: space-between;
flex-direction: row;
width: 70%
}

header .navbar a:hover{
    letter-spacing: .2rem;
    color: var(--main-color);
}

#projects {
    margin: 4rem;
}

#menu-bars {
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:transparent;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0; left: 0;
    height: 1rem; width: 1rem;
    background: white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-2 {
    position: absolute;
    top: 0; left: 0;
    height: 4rem; width: 4rem;
    border: 0.5rem solid white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.info-text{
    display: block;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    width: 480px;
    left: 43px;
    top: 175px;
    font-size: 2rem;
}


.info-contacts {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin: 0;
    top: 275px;
    left: 700px;
    font-size: 2rem;
    color:black;

}


@media (max-width:991px) {
    html {
        font-size: 55%;
    }
     body {
         padding: 0;
     }

     #menu-bars {
         display:initial;
     }

     header {
        left: -120%;
        padding: auto;
     }

     header.active {
         left: 0%;
     }
}


@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }
}