@font-face {
    font-family: "biome";
    src: url("roman.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color:white;
}

*{
    font-family: 'biome', bold, sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: all .2s linear; */
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    /*overflow-x: hidden;*/
    scroll-behavior: smooth;
}

body{
    background: black;
    /* padding-left: 10rem; */
    /*overflow: hidden;*/
}

a {
    color: white;
}

body::-webkit-scrollbar {
    display: none;
  }

section {
    padding: 1rem 2%;
    min-height: 100vh;
}

header {
    position: static;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: end;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    width: 10rem;
    text-align: center;
    flex-direction: row;
    width: 100%;
    letter-spacing: 0.1rem;
    background: #000000;
}

header .logo{
    text-transform: uppercase;
    color:white;
    font-size: 10rem;

}

header .logo:hover {
    /* letter-spacing: .3rem; */
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

.navbar {
    display: contents;

    justify-content: space-between;
}

.main-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
   
    /* height: 140px; */
    background: #000000;
}


header .navbar a{
/* float: left; */
font-size: 7rem;
color: white;
margin: 0;
justify-content: space-between;
flex-direction: row;
justify-content: space-between;
}

header .navbar a:hover{
    /* letter-spacing: .2rem; */
    color: var(--main-color);
}

#about {
  margin: 65px 0 0 60px;
  transform: scaleY(0.93);
  opacity: 1;
  position: relative;
}

#about:hover {
   
    cursor: pointer;
    /* background-color: rgb(107, 27, 27); */
    /* border-bottom: 2px solid white; */
    transition: 0.4s;
  }
  
  #about::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #about:hover:before {
    visibility: visible;
    width: 100%;
  }

#projects {
 margin: 65px 60px 0 0;
 transform: scaleY(0.93);
 position: relative;
}

#projects::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  #projects:hover:before {
    visibility: visible;
    width: 100%;
  }
  
  #projects:hover {
    transition: 0.4s;
  }

#menu-bars {
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:transparent;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0; left: 0;
    height: 1rem; width: 1rem;
    background: white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-2 {
    position: absolute;
    top: 0; left: 0;
    height: 4rem; width: 4rem;
    border: 0.5rem solid white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects-main {
    color: white;
    padding-top: 300px;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.4rem;
}

.container {
    margin: auto;
    color: white;
    margin: 65px;
    padding-top: 30px;
}

#title {
    font-size: 6rem;
    padding-bottom: 50px;
    letter-spacing: 0.4rem;
    text-align: center;
}

#title-ch {
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

#chatnimal {
    font-size: 5rem;
    text-decoration: overline;
    padding-bottom: 50px;
    letter-spacing: 0.1rem;
}


#description {
    width: 45%;
    font-size: 3rem;
}

#winter-show {
    padding-bottom: 70px;
    font-size: 4rem;
}


#video {
    padding-bottom: 20px;
    width: 80%;
    height: 80vh;
}

.video-container {
    width: 100%;
    height: 50vh;
    margin-top: 200px;
}


.video-container video {
  width: 100%;
  height: auto;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.bg-poster {
}

@media (max-width:991px) {
    html {
        font-size: 40%;
    }
     body {
         padding: 0;
     }
     /* header {
        left: -100%;
        padding: auto;
     } */

     header.active {
         left: 0%;
     }

     #description {
         width: 100%;
     }

     #about {
        margin: 20px 0 0 20px;
      }
 
      #projects {
        margin: 20px 20px 0 0;
      }
 
      .video-container {
          height: 20vh;
          margin-top: 100px;
      }
}


@media (max-width:450px) {
    html {
        font-size: 30%;

    }

    header {
        width: 100%;
    }
    #description {
        width: 100%;
    }

    #about {
        margin: 20px 0 0 20px;
      }
 
      #projects {
        margin: 20px 20px 0 0;
      } 

      .video-container {
        height: 20vh;
        margin-top: 140px;
    }

    #about {
        margin: 30px 0 20px 25px;
      }
  
      #projects {
        margin: 30px 25px 0 0;
      }
  
      header .navbar a {
        font-size: 30px;
      }

      #chatnimal {
          padding-bottom: 20px;
      }

      #winter-show {
          padding-bottom: 20px;
      }
}
