@font-face {
    font-family: "biome";
    src: url("roman.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    --main-color:white;
}

*{
    font-family: 'biome', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* transition: all .2s linear; */
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    /*overflow-x: hidden;*/
    scroll-behavior: smooth;
}

body{
    background: black;
    /* padding-left: 10rem; */
    /*overflow: hidden;*/
}

a {
    color: white;
}

body::-webkit-scrollbar {
    display: none;
  }

section {
    padding: 1rem 2%;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    align-items: end;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    width: 10rem;
    text-align: center;
    flex-direction: row;
    width: 100%;
    letter-spacing: 0.1rem;
    background: #000000;
}

header .logo{
    text-transform: uppercase;
    color:white;
    font-size: 10rem;

}

header .logo:hover {
    /* letter-spacing: .3rem; */
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

.navbar {
    display: contents;

    justify-content: space-between;
}

.main-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    /* height: 140px; */
    background: #000000;
}


header .navbar a{
/* float: left; */
font-size: 7rem;
color: white;
margin: 0;
justify-content: space-between;
flex-direction: row;
justify-content: space-between;
}

header .navbar a:hover{
    /* letter-spacing: .2rem; */
    color: var(--main-color);
}

#about {
  margin: 65px 0 0 60px;
}

#projects {
 margin: 65px 60px 0 0;
}

#menu-bars {
    position: fixed;
    top: 1rem; right: 1rem;
    z-index: 10000;
    background:transparent;
    color: white;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0; left: 0;
    height: 1rem; width: 1rem;
    background: white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-2 {
    position: absolute;
    top: 0; left: 0;
    height: 4rem; width: 4rem;
    border: 0.5rem solid white;
    transform:translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.projects-main {
    color: white;
    padding-top: 300px;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.4rem;
}

.container {
    margin: auto;
    padding-top: 200px;
    color: white;
}

#title {
    font-size: 6rem;
    padding-bottom: 50px;
    letter-spacing: 0.4rem;
    text-align: center;
}

#video {
    padding-bottom: 20px;
    width: 100%;
    height: 100vh;
}

.video-container {
    width: 100%;
    height: 75vh;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.bg-poster {
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
     body {
         padding: 0;
     }

     #menu-bars {
         display:initial;
     }

     /* header {
        left: -100%;
        padding: auto;
     } */

     header.active {
         left: 0%;
     }
}


@media (max-width:450px) {
    html {
        font-size: 50%;

    }

    header {
        width: 100%;
    }
}
